.container {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap:1rem;
    justify-items: center;
}
.lights {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin:auto;
    transition: 2s;
    border: 1rem solid transparent;
}

@-webkit-keyframes lights {
    0% { border-color: transparent;}
    50% { border-color:#fff;}
    100%{ border-color: transparent}
}

.small {
    animation: lights 2s infinite;
}

.container.stop .small{
    animation: none;
}

.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.purple{
    background-color: purple;
}
.pink{
    background-color: pink;
}
.orange{
    background-color: orange;

}
.btn-container, .speed-container {
    text-align: center;
}
.btn-container button, .speed-container button {
    font-size: 20px;
    padding: 1rem 2rem;
    margin: 2rem ;
}


.hidden{
    visibility: hidden;
}
